In [ ]:
Introduction to list datatypes

In [ ]:
List is collection of data in a particular order

In [ ]:
It is mutable datatype

In [1]:
students = ['Rahul','Kiran','Ravi','dilkasha','rafeeq','dipak','kalyani']
print(students)

['Rahul', 'Kiran', 'Ravi', 'dilkasha', 'rafeeq', 'dipak', 'kalyani']

In [2]:
type(students)

list

In [4]:
subjects=["English","Hindi","Maths","Science","Social"]
print(subjects)

['English', 'Hindi', 'Maths', 'Science', 'Social']

In [5]:
type(subjects)

list

In [ ]:
Indexing is the number given to the elements in the list it will start from 0,1,2,3,4,5,6,7,8....

In [7]:
If i want to access the first subject

SyntaxError: invalid syntax (<ipython-input-7-8aec9ea1501e>, line 1)

In [8]:
print(subjects[0]) # the numbering will start from zero 0

English

In [ ]:
if I want to  get the second subject

In [10]:
print(subjects[1])

Hindi

In [ ]:
Changing and adding and removing the elements in the list

In [11]:
print(students)

['Rahul', 'Kiran', 'Ravi', 'dilkasha', 'rafeeq', 'dipak', 'kalyani']

In [ ]:
changing Ravi to Surya

In [12]:
students[2]="Surya"

In [13]:
print(students) # in the output the name Ravi is changed to Surya

['Rahul', 'Kiran', 'Surya', 'dilkasha', 'rafeeq', 'dipak', 'kalyani']

In [14]:
students.append("junaid") # Junaid will be added to the students list at the last index(last in the place)

In [15]:
print(students)

['Rahul', 'Kiran', 'Surya', 'dilkasha', 'rafeeq', 'dipak', 'kalyani', 'junaid']

In [16]:
students.append("junaid","Virat")

TypeError: append() takes exactly one argument (2 given)

In [17]:
students.append("Virat")

In [19]:
students

['Rahul',
 'Kiran',
 'Surya',
 'dilkasha',
 'rafeeq',
 'dipak',
 'kalyani',
 'junaid',
 'Virat']

In [21]:
print(students)

['Rahul', 'Kiran', 'Surya', 'dilkasha', 'rafeeq', 'dipak', 'kalyani', 'junaid', 'Virat']

In [ ]:
If we use append then the name will be added to the list at the last. If we want to add at the certain position
we have a sepetate inbuild function called insert.

In [23]:
students.insert(3,"Sachin") # sachin is added at the 4th place and dilkasha is moved to 5th place

In [24]:
print(students)

['Rahul', 'Kiran', 'Surya', 'Sachin', 'dilkasha', 'rafeeq', 'dipak', 'kalyani', 'junaid', 'Virat']

In [25]:
print(students[3]) # we can get the particular name from the list

Sachin

In [ ]:
Now deleting the elements from the list

In [26]:
del students[0] # Rahul from the list will be removed

In [27]:
print(students)

['Kiran', 'Surya', 'Sachin', 'dilkasha', 'rafeeq', 'dipak', 'kalyani', 'junaid', 'Virat']

In [28]:
del students[0] # kiran will be removed as kiran is in the first place

In [29]:
print(students)

['Surya', 'Sachin', 'dilkasha', 'rafeeq', 'dipak', 'kalyani', 'junaid', 'Virat']

In [ ]:
deleting the elements using pop

In [ ]:
pop() # by default it will remove the elements from the last in the list

In [30]:
print(students)

['Surya', 'Sachin', 'dilkasha', 'rafeeq', 'dipak', 'kalyani', 'junaid', 'Virat']

In [31]:
students.pop()

'Virat'

In [33]:
print(students) # Virat is removed as it was at the last

['Surya', 'Sachin', 'dilkasha', 'rafeeq', 'dipak', 'kalyani', 'junaid']

In [34]:
x = students.pop() # junaid is chopped off and stored it in the variable x

In [35]:
print(x)

junaid

In [36]:
x

'junaid'