In [ ]:
continuation with the list Datatypes

In [1]:
students

NameError: name 'students' is not defined

In [6]:
students=["Rahul","Ravi","Sachin","Dhoni","Bhajji","Bhuvi","Yuvi","Jaddu","Shami","Umesh"]
print(students)

['Rahul', 'Ravi', 'Sachin', 'Dhoni', 'Bhajji', 'Bhuvi', 'Yuvi', 'Jaddu', 'Shami', 'Umesh']

In [7]:
type(students)

list

In [8]:
print(students[5]) # 6th student in the list will be displayed

Bhuvi

In [ ]:
syntax for slicing is startvalue:stopvalue:stepout

In [9]:
print(students[0:1])

['Rahul']

In [10]:
students

['Rahul',
 'Ravi',
 'Sachin',
 'Dhoni',
 'Bhajji',
 'Bhuvi',
 'Yuvi',
 'Jaddu',
 'Shami',
 'Umesh']

In [11]:
print(students)

['Rahul', 'Ravi', 'Sachin', 'Dhoni', 'Bhajji', 'Bhuvi', 'Yuvi', 'Jaddu', 'Shami', 'Umesh']

In [12]:
students

['Rahul',
 'Ravi',
 'Sachin',
 'Dhoni',
 'Bhajji',
 'Bhuvi',
 'Yuvi',
 'Jaddu',
 'Shami',
 'Umesh']

In [13]:
print(students[2:4])

['Sachin', 'Dhoni']

In [14]:
print(students[2:6])

['Sachin', 'Dhoni', 'Bhajji', 'Bhuvi']

In [15]:
print(students[6:8])

['Yuvi', 'Jaddu']

In [16]:
print(students[0:11])

['Rahul', 'Ravi', 'Sachin', 'Dhoni', 'Bhajji', 'Bhuvi', 'Yuvi', 'Jaddu', 'Shami', 'Umesh']

In [ ]:
Request is to print numbers from 1 to 20

In [17]:
numbers = list(range(1,20)) # the last number will not be taken

In [18]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
request to print even numbers from 1 to 50

In [21]:
even_numbers= list(range(2:31:2))

SyntaxError: invalid syntax (<ipython-input-21-b37047a3b7db>, line 1)

In [26]:
even_numbers= list(range(2,51,2))

In [27]:
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [28]:
odd_numbers=(list(range(3,50,2)))

In [29]:
print(odd_numbers)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
Organising the list

In [30]:
print(students)

['Rahul', 'Ravi', 'Sachin', 'Dhoni', 'Bhajji', 'Bhuvi', 'Yuvi', 'Jaddu', 'Shami', 'Umesh']

In [ ]:
we can organise it in two ways: 
    
    1. sorted # this is the temp way to sort  
    2. sort # this is the permanent way of sorting

In [31]:
print(sorted(students))

['Bhajji', 'Bhuvi', 'Dhoni', 'Jaddu', 'Rahul', 'Ravi', 'Sachin', 'Shami', 'Umesh', 'Yuvi']

In [33]:
students

['Rahul',
 'Ravi',
 'Sachin',
 'Dhoni',
 'Bhajji',
 'Bhuvi',
 'Yuvi',
 'Jaddu',
 'Shami',
 'Umesh']

In [35]:
print(sorted(students)) # temporary changes alphabetical order

['Bhajji', 'Bhuvi', 'Dhoni', 'Jaddu', 'Rahul', 'Ravi', 'Sachin', 'Shami', 'Umesh', 'Yuvi']

In [36]:
print(students)

['Rahul', 'Ravi', 'Sachin', 'Dhoni', 'Bhajji', 'Bhuvi', 'Yuvi', 'Jaddu', 'Shami', 'Umesh']

In [37]:
students.sort() # permanent changes

In [38]:
print(students)

['Bhajji', 'Bhuvi', 'Dhoni', 'Jaddu', 'Rahul', 'Ravi', 'Sachin', 'Shami', 'Umesh', 'Yuvi']